services:
  app:
    build: .
    container_name: crypto_payment
    restart: always
    env_file:
      - .env
    expose:
      - "3000"
    networks:
      - web
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "5"

networks:
  web:
    external: true